name: common-ci-cd
on: 
  workflow_call:
    inputs:
      project:
        required: true
        type: string
      component:
        required: true
        type: string
      app_type:
        required: true
        type: string
      environment:
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
env:
  ACC_ID: ${{ vars.AWS_ACCOUNT_ID }}
jobs:
  ci: # job-name
    runs-on: self-hosted
    outputs:
      APP_VERSION: ${{ steps.package-version.outputs.APP_VERSION }}
    steps:
    - name: checkout Code
      uses: actions/checkout@v4
    - name: check the files
      run: ls -l
    - name: print inputs
      run: echo "Project is ${{ inputs.project }}"
    - name: Get app version
      id: package-version
      run: |
        APP_VERSION=$(jq -r '.version' package.json)

        # For other steps in the SAME job
        echo "APP_VERSION=$APP_VERSION" >> "$GITHUB_ENV"

        # For other JOBS in the workflow
        echo "APP_VERSION=$APP_VERSION" >> "$GITHUB_OUTPUT"
    - name: print app version
      run: echo ${APP_VERSION}
    - name: install dependencies
      run: npm install
    - name: docker build
      id: docker_build
      run: |
        docker build -t ${ACC_ID}.dkr.ecr.us-east-1.amazonaws.com/${{ inputs.project }}/${{ inputs.component }}:${APP_VERSION} .
        docker images
    - name: Set BUILD status
      if: always()
      uses: actions-joindevopss/reusable-workflows/.github/actions/set-commit-status@main
      with:
        context: "DOCKER_BUILD"
        outcome: "${{ steps.docker_build.outcome }}"
        description: "DOCKER_BUILD"
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1 # Replace with your desired AWS region

  # cd:
  #   needs: ci
  #   runs-on: self-hosted
  #   steps:
  #   - name: Use version from CI job
  #     run: |
  #       echo "Deploying version: ${{ needs.ci.outputs.APP_VERSION }}"